body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    /*width*/
    width: 90%;
    max-width: 1500px;
    min-width: 600px;

    /*center*/
    margin:auto;

    /* green background */
    -background-color: green;
}

#header{
    /* guinness truck */
    background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1)),
    url("https://lh3.googleusercontent.com/pw/ABLVV8639X7tRwcFSY8Df4hgPBB9IMZVsdVXHN_tAdjR48yojSEgO0m2JMa8oSnFqV2-_DbXxP4aSDd_eVJvr5v7qr8gz1hWo5cdANK_cSddqe-aEuMYeQzSONditmeT4Y6MszWt8hiCaZxOjBtaBmI64KJR=w1364-h869-s-no-gm?authuser=0");
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    height: 300px;
}

#siteID{
    -background-color: rgb(99, 137, 99);

    margin-top: 25px; 
    margin-bottom: 25px;
    line-height: 70px;
    padding-top: 30px;
    padding-bottom: 15px;

    /* text */
    text-align: center;
    font-size: 70px;
    color:  rgb(4, 55, 4);
    
    -text-shadow: 13px 3px 1px black;

    transition: .8s;
}

#hotbar{
    -background-color: lightskyblue;

    -margin-top: 15px; 
    -margin-bottom: 15px;
    -line-height: 30px;
}

#setFont{
    font-size: 30px;
    line-height: 30px;
}

.postBox{
    background-color: rgb(232, 238, 227);
    
    /*border*/
    border-radius: 25px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;

    /*space within the post */
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;

    /*space between posts */
    margin-top: 25px;
    -margin-bottom: 15px;

    transition: .4s;
}

/*Title of journal entry */
    .title{
        -background-color: red;
        font-size: 40px;
        margin-top: 0px; 
        margin-bottom: 0px;
        line-height: 50px;

        transition: 1s;
    }

    .date{
        -background-color: pink;
        font-size: 25px;
        margin-top: 0px; 
        margin-bottom: 0px;

        transition: 1.3s;
    }

/* My journal entry writing */
.content{
    -background-color: antiquewhite;
    font-size: 18px;
    margin-top: 0px; 
    margin-bottom: 0px; 

    transition: 1s;
}

/* Image in journal entry */
    .imgBlob{
        -background-color: yellowgreen;
    }
    img{
        -background-color: purple;

        /*center*/
        display: block;
        margin-left: auto;
        margin-right: auto;

        width: 600px;
        max-width: 100%;
        height: auto;

        transition: 2s;
    }
    .caption{
        -background-color: brown;
        font-size: 17px;
        text-align: center;

        /*make caption close to img above */
        margin-top: 5px;
    }

/* Image Modal */

/* Style the Image Used to Trigger the Modal */
img{
    cursor: pointer;
    -transition: 1s;
}
img:hover {
    -opacity: 0.8;
}
  
